/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*font-family: Arial, sans-serif;*/
    /*line-height: 1.6;*/
    /*color: #333;*/
    /*background-color: #f5f5f5;*/
    font-family: 'Inter', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Responsive typography */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    color: #222;
}
footer h5 {
    color:whitesmoke;
}
h1 {
    font-size: 2.5rem; /* Adjust based on your design */
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

/* Layout */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* High-DPI support */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    .high-res-image {
        background-image: url('high-res-image@2x.png');
    }
    body {
        font-size: 18px;
    }
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

/* Additional styles for accessibility */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main{
    background-color: #FFFFFF;
    padding-top:1%
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgba(6, 147, 227, 1);

}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:whitesmoke;
}

/*feedback css starts here*/

input[type="email"] {
    width: 100%;
    height: 30px;
    font-size: large;
    background-color : #f1f1f1;

}
.hideMe {
    bottom: 104px;
    right: 42px;
    position: fixed;
    opacity: .8;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    box-sizing: border-box;
}
.hiddenBtns {
    bottom: 25px;
    right: 35px;
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 500;
    box-sizing: border-box;
}
.openLikeBtn{
    height: 50px;
    width: 50px;
    position: fixed;
    background-size: 100%;
    border: white;
    background-color: whitesmoke;
    background-image: url("/platform/images/Feedback_Red.png");
    border-radius: 24px;
    cursor: pointer;
    opacity: .7;
    box-sizing: border-box;
}
.openLikeBtn:hover{
    background-color: lightgrey;
}
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #2865A3;
    color: white;
    padding: 3px 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 45px;
    width: 145px;
    height: 40px;
    font-size: 13pt;
    border-radius: 10px;
    box-sizing: border-box;
}

/* The popup chat - hidden by default */
.chat-popup {
    box-shadow: -6px 11px 8px #888888;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: 1px solid black;
    z-index: 501;
    box-sizing: border-box;
    background-color:#5D8DAF;
    color:white;
    width:400px;
    height:500px;
    border-radius:5px;
}

/* Add styles to the form container */
.form-container {
    max-width: 500px;
    padding: 10px;
    ackground-color: white;
    box-sizing: border-box;
    white-space: normal;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 20px 22px 0;
    border: none;
    background: white;
    resize: none;
    min-height: 200px;
    font-size: large;
    box-sizing: border-box;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #2865A3;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: large;
    box-sizing: border-box;
}

.closeForm {
    position: absolute;
    top: -10px;
    right: -10px;
    cursor:pointer;
    ackground-color: #770C0E;
    olor: white;
    order:0px solid black;

}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.navbar-separator {
    border-left: 2px solid gray; /* White separator */
    height: 30px; /* Adjust height */
    margin: 0 15px; /* Spacing around separator */
}

 .ui-autocomplete {
     max-height: 200px; overflow-y: auto; overflow-x: hidden;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); z-index: 9999;  background-color: white;}
.ui-menu-item {
    padding: 5px;
    cursor: pointer;
}

.ui-menu-item:hover {
    background-color:cadetblue;
    color:whitesmoke;
}
.tooltip-inner{
    word-break: normal;
}