.clinical-title {
    background: #2865a3;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.clinical-form {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}
.clinical-title, .clinical-subtitle {
    text-align: center;
}
.clinical-label,.clinical-input, .clinical-submit {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.clinical-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.clinical-submit {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.clinical-submit:hover {
    background-color: #45a049;
}