@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
    }
}

.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #0d6efd;
}
ul.progress li.active {
    background-color: #dc9305;
}

ul.progress li {
    background-color: #7e7e7e;
    position:relative;
    text-indent:0.5em;
}
ul.progress li:after {
    content:'';
    position:absolute;
    right:100%;
    margin-right:0.4em;
    width:1.2em;
    padding-top:1.2em;;
    border:solid white;
    z-index:1;
    transform:rotate(45deg);
    border-bottom:0;
    border-left:0;
    box-shadow:5px -5px 0 3px  #7e7e7e
}
ul.progress li.active:after {
    box-shadow:6px -6px 0 3px #dc9305;
}
ul.progress {
    list-style: none;
    margin: 0.5em;
    padding: 0;
    overflow:hidden;
    white-space:nowrap
}

ul.progress li {
    display:inline-block;
    line-height: 20px;
    height: 20px;
    min-width: 130px;
    position: relative;
    transition:min-width 0.5s;
}


ul.progress li a {
    padding: 0px 0px 0px 6px;
    color: #FFF;
    text-decoration: none;
}
ul.progress li:hover {
    min-width:300px;
}
ul.progress li:before {
    content:'\2714'
}
ul.progress li.active:before,
ul.progress li.active ~ li:before {
    content:''
}

